body {
    background-color: #F6F4EE !important;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 1s ease;
    margin: 0;
    padding-top: 100px;
    color: #867B73; /* 글자색 변경 */
}

body.loaded {
    visibility: visible;
    opacity: 1;
}

.container {
	 background-color: #F6F4EE !important;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;

}

.profile-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #867B73; /* 글자색 변경 */
}

.profile-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.profile-info {
    flex: 1;
    margin-left: 20px;
}

.profile-info h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.profile-info p {
    margin: 5px 0;
    color: #867B73; /* 글자색 변경 */
}

.profile-stats ul {
    list-style-type: none;
    padding: 0;
}

.profile-stats ul li {
    margin: 5px 0;
    font-size: 18px;
}

.profile-stats ul li span {
    font-weight: bold;
}

.btn-edit {
    background-color: #ccc;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    color: #867B73; /* 글자색 변경 */
}

.btn-edit:hover {
    background-color: #bbb;
}

.order-status {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    color: #867B73; /* 글자색 변경 */
}

.status-box {
    flex: 1;
    text-align: center;
}

.status-box h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.status-box p {
    margin: 5px 0;
    font-size: 16px;
    color: #867B73; /* 글자색 변경 */
}

.status-box ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    font-size: 14px;
}

.status-box ul li {
    margin: 5px 0;
}

.recent-views {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    color: #867B73; /* 글자색 변경 */
}

.recent-views h2 {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
}
