<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mf.mapper.AdminApplyMapper">
    <select id="getAllAdminApplys" parameterType="com.mf.dto.AdminApplyDto">
SELECT
    posting_idx,
    title,
    content,
    update_date,
    state   
FROM
    posting 

    </select>
  <update id="updateStatus" parameterType="map">
      UPDATE posting
      SET state = #{state}
      WHERE posting_idx = #{postingIdx}
   </update>
</mapper>