<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mf.mapper.AdminOrderMapper">
    <select id="getAllAdminOrders">
SELECT
    O.AMOUNT,
    O.DELIVERY_PRICE,
    O.TOTAL_PRICE,
    O.ORDER_DATE,
    OD.PRICE,
    P.NAME
FROM
    ORDERS O
JOIN
    ORDER_DETAIL OD ON O.ORDER_DETAIL_IDX = OD.ORDER_DETAIL_IDX
JOIN
    CART C ON OD.CART_IDX = C.CART_IDX
JOIN
    PRODUCT P ON C.PRODUCT_IDX = P.PRODUCT_IDX

    </select>
    
   
</mapper>