<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mf.mapper.FAQMapper">
    <insert id="addFAQ" parameterType="com.mf.dto.CsFaqDto">
        INSERT INTO CS_FAQ  (
        FAQ_IDX,
        title, 
        content) 
        VALUES (
        cs_faq_seq.NEXTVAL,
        #{title},
         #{content})
    </insert>
    
    
    <select id="getAllFAQs" parameterType="com.mf.dto.CsFaqDto">
        SELECT FAQ_IDX, title, content
        FROM CS_FAQ
        order by faq_idx asc
    </select>
    
    <!-- 특정 FAQ 항목 가져오기 -->
   <select id="getFaqByFaqIdx">
    SELECT * FROM cs_faq WHERE faq_idx = #{faqIdx}
</select>

    <update id="updateFAQ" >
    UPDATE cs_faq
    SET title = #{title}, content = #{content}
    WHERE faq_idx = #{faqIdx}
</update>

<delete id="deleteFAQ">
    DELETE FROM cs_faq WHERE faq_idx = #{faqIdx}
     </delete>
     
     
     <select id="searchFaqsById" resultType="com.mf.dto.CsFaqDto">
        SELECT  faq_idx,
    title
  
        FROM cs_faq      
        <where>
            <if test="searchId != null and searchId != ''">
                title LIKE '%' || #{searchId, jdbcType=VARCHAR} || '%'
            </if>
        </where>
    </select>
</mapper>