<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mf.mapper.MainMapper">

<select id="getRecentPosting">
<![CDATA[
SELECT * FROM (
    SELECT a.posting_idx AS posting_idx,
    	   a.update_date,
           a.title AS title,
           d.price AS price,
           e.file_path AS file_path,
           ROW_NUMBER() OVER (ORDER BY a.update_date DESC) AS rnum
    FROM posting a
    JOIN posting_product b ON a.posting_idx = b.posting_idx
    JOIN product_info c ON b.product_info_idx = c.product_info_idx
    JOIN product d ON c.product_idx = d.product_idx
    JOIN product_file e ON e.product_info_idx = b.product_info_idx
    GROUP BY a.posting_idx, a.title, d.price, e.file_path, a.update_date
) subquery
WHERE rnum <= 8
]]>
</select>

<select id="getCategory" resultType="com.mf.dto.CategoryDto">
SELECT category_idx AS categoryIdx, kor_name AS korName, eng_name AS engName
        FROM category
</select>

<select id="getSubCategoriesByCategoryEngName" resultType="com.mf.dto.SubCategoryDto">
	select sc.*
		from  sub_category sc
		join  category c on sc.category_idx = c.category_idx
		where c.eng_name = #{categoryEngName} 
</select>

 <!-- 카테고리 첫 페이지가 All로 출력되게끔 -->
<select id="getAllSubCategoryByCategoryEngName" resultType="com.mf.dto.SubCategoryDto">
	select sc.*
		from sub_category sc
		join category c on sc.category_idx = c.category_idx
		where c.eng_name = #{categoryEngName}
  		and sc.kor_name = '전체'
</select>

<select id="getAllSubCategories" resultType="com.mf.dto.SubCategoryDto">
    select * from sub_category
</select>


<select id="getSubCategoryById" resultType="com.mf.dto.SubCategoryDto">
  select *
  	from sub_category
  	where sub_category_idx = #{subCategoryId}
</select>

<select id="getSubCategoryByNameAndCategoryEngName" resultType="com.mf.dto.SubCategoryDto">
	select sc.*
		from sub_category sc
		join category c on sc.category_idx = c.category_idx
		where c.eng_name = #{categoryEngName}
			and sc.eng_name = #{subCategoryName}
</select>

<select id="getSubCategoriesByCategoryCode" resultType="com.mf.dto.SubCategoryDto">
  select sc.*
  	from sub_category sc
  	join category c on sc.category_idx = c.category_idx
  	where c.kor_name = #{categoryCode}
</select>

<select id="getCategoriesByKeyword" resultType="com.mf.dto.CategoryDto">
  select * from category
 		where kor_name like '%' || #{keyword} || '%'
</select>


<select id="getAllProducts" resultType="com.mf.dto.ProductDto">
	SELECT * form PRODUCT
		WHERE product_idx = #{productIdx}
</select>

<select id="getPostingAll">
SELECT DISTINCT a.posting_idx AS posting_idx,
                a.title AS title,
                d.price AS price,
                e.file_path AS file_path
FROM posting a
JOIN posting_product b ON a.posting_idx = b.posting_idx
JOIN product_info c ON b.product_info_idx = c.product_info_idx
JOIN product d ON c.product_idx = d.product_idx
join product_file e on e.product_info_idx = b.product_info_idx
ORDER BY a.posting_idx ASC
</select>

<select id="getSearchResult">
SELECT posting_idx, title, price, file_path
FROM (
    SELECT 
        a.posting_idx,
        a.title,
        d.price,
        f.file_path,
        ROW_NUMBER() OVER (PARTITION BY a.posting_idx ORDER BY a.posting_idx DESC) AS row_num
    FROM posting a
    JOIN posting_product b ON a.posting_idx = b.posting_idx
    JOIN product_info c ON b.product_info_idx = c.product_info_idx
    JOIN product d ON c.product_idx = d.product_idx
    JOIN product_color e ON c.product_color_idx = e.product_color_idx
    JOIN product_file f ON f.product_info_idx = b.product_info_idx
    WHERE REPLACE(a.title, ' ', '') LIKE '%' || REPLACE(#{keyword}, ' ', '') || '%'
       OR REPLACE(a.content, ' ', '') LIKE '%' || REPLACE(#{keyword}, ' ', '') || '%'
       OR REPLACE(d.manufacture_name, ' ', '') LIKE '%' || REPLACE(#{keyword}, ' ', '') || '%'
       OR REPLACE(d.name, ' ', '') LIKE '%' || REPLACE(#{keyword}, ' ', '') || '%'
       OR REPLACE(e.color, ' ', '') LIKE '%' || REPLACE(#{keyword}, ' ', '') || '%'
) sub
WHERE sub.row_num = 1
ORDER BY posting_idx DESC
</select>

<select id="getPostingCountByKeyword">
SELECT count(DISTINCT a.posting_idx)
FROM posting a
JOIN posting_product b ON a.posting_idx = b.posting_idx
JOIN product_info c ON b.product_info_idx = c.product_info_idx
JOIN product d ON c.product_idx = d.product_idx
JOIN product_color e ON c.product_color_idx = e.product_color_idx
JOIN product_file f ON f.product_info_idx = b.product_info_idx
WHERE REPLACE(a.title, ' ', '') LIKE '%' || REPLACE(#{keyword}, ' ', '') || '%'
   OR REPLACE(a.content, ' ', '') LIKE '%' || REPLACE(#{keyword}, ' ', '') || '%'
   OR REPLACE(d.manufacture_name, ' ', '') LIKE '%' || REPLACE(#{keyword}, ' ', '') || '%'
   OR REPLACE(d.name, ' ', '') LIKE '%' || REPLACE(#{keyword}, ' ', '') || '%'
   OR REPLACE(e.color, ' ', '') LIKE '%' || REPLACE(#{keyword}, ' ', '') || '%'
ORDER BY a.posting_idx DESC
</select>

<select id="getAllPostingByCategory">
SELECT DISTINCT a.posting_idx AS posting_idx,
                a.title AS title,
                d.price AS price,
                d.MANUFACTURE_NAME,
                e.file_path AS file_path
FROM posting a
JOIN posting_product b ON a.posting_idx = b.posting_idx
JOIN product_info c ON b.product_info_idx = c.product_info_idx
JOIN product d ON c.product_idx = d.product_idx
join product_file e on e.product_info_idx = b.product_info_idx
join sub_category f on d.sub_category_idx = f.sub_category_idx
join category g on g.category_idx = f.category_idx
where g.eng_name = #{categoryEngName}
ORDER BY a.posting_idx ASC
</select>

<select id="getSelectedPostingBySubCategory">
SELECT DISTINCT a.posting_idx AS posting_idx,
                a.title AS title,
                d.price AS price,
                d.MANUFACTURE_NAME,
                e.file_path AS file_path
FROM posting a
JOIN posting_product b ON a.posting_idx = b.posting_idx
JOIN product_info c ON b.product_info_idx = c.product_info_idx
JOIN product d ON c.product_idx = d.product_idx
join product_file e on e.product_info_idx = b.product_info_idx
join sub_category f on d.sub_category_idx = f.sub_category_idx
where f.eng_name = #{subCategoryName}
ORDER BY a.posting_idx ASC
</select>

</mapper>