<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mf.mapper.PersonMapper">
    <select id="getAllPersons" parameterType="com.mf.dto.PersonDto">
       SELECT 
    p.PERSON_IDX,
    u.id,
    p.NAME,
    p.NICK_NAME,
    p.PHONE,
    p.EMAIL,
    p.ADDRESS,
    p.DETAIL_ADDRESS,
    p.user_idx,
    u.state
FROM 
    person p
JOIN 
    users u ON p.user_idx = u.USER_IDX
    </select>
     <!-- 회원 드롭 -->
      <update id="dropUser">
      UPDATE users
      SET state = 3
      WHERE user_idx = #{userIdx}
   </update>
    <select id="getPersons" resultType="com.mf.dto.PersonDto">
        SELECT * FROM person
        ORDER BY person_idx
        LIMIT #{offset}, #{noOfRecords}
    </select>

    <select id="getNoOfRecords" resultType="int">
        SELECT COUNT(*) FROM person
    </select>
    
     <select id="searchUsersById" resultType="com.mf.dto.PersonDto">
        SELECT p.person_idx, p.name, p.nick_name, p.phone, p.email, p.address, p.detail_address, u.state, u.user_idx, u.id
        FROM person p
        LEFT JOIN users u ON p.user_idx = u.user_idx
        <where>
            <if test="searchId != null and searchId != ''">
                u.id LIKE '%' || #{searchId, jdbcType=VARCHAR} || '%'
            </if>
        </where>
    </select>
    
    <select id="selectPerson">
    
   select p.post_code,
			p.address,
			p.detail_address
	from person p join users u on p.user_idx = u.user_idx
	where u.user_idx = #{ userIdx }
    
    </select>
    
    </mapper>
    