<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mf.mapper.ProductMapper">


<!-- 전체 상품 정보 -->
<select id="getAllProductDetails" resultType="java.util.HashMap">
    SELECT 
        p.product_idx AS product_idx,
        p.name AS name,
        p.price AS price,
        p.manufacture_name AS manufacture_name,
        c.kor_name AS category,
        sc.kor_name AS sub_category,
        LISTAGG('[' || pc.color || '] ' || ps.sizes || ', ' || pq.quantity || '개', ' / ') WITHIN GROUP (ORDER BY pc.color) AS inventory,
        TO_CHAR(pi.update_date, 'YYYY.MM.DD') AS update_date,
        LISTAGG(pf.file_path, ', ') WITHIN GROUP (ORDER BY pf.product_file_idx) AS file_paths -- 이미지 파일 결합
    FROM product p
    JOIN product_info pi ON p.product_idx = pi.product_idx
    LEFT JOIN product_file pf ON pi.product_info_idx = pf.product_info_idx -- JOIN 변경
    JOIN sub_category sc ON p.sub_category_idx = sc.sub_category_idx
    JOIN category c ON sc.category_idx = c.category_idx
    LEFT JOIN product_color pc ON pi.product_color_idx = pc.product_color_idx
    LEFT JOIN product_size ps ON pi.product_size_idx = ps.product_size_idx
    LEFT JOIN product_quantity pq ON pi.product_info_idx = pq.product_info_idx
    WHERE p.store_idx = #{storeIdx}
    GROUP BY p.product_idx, p.name, p.price, p.manufacture_name, c.kor_name, sc.kor_name, pi.update_date
</select>


<!-- 특정 productIdx에 해당하는 상품 상세 정보 로드 -->
<select id="getProductDetailsByProductIdx" resultType="com.mf.dto.ProductDetailsDto">
    WITH ProductInventory AS (
        SELECT 
            pi.product_idx,
            LISTAGG('[' || pc.color || '] ' || ps.sizes || ', ' || pq.quantity || '개', ' / ') WITHIN GROUP (ORDER BY pi.product_info_idx) AS inventory,
            MAX(pi.update_date) AS max_update_date
        FROM product_info pi
        LEFT JOIN product_color pc ON pi.product_color_idx = pc.product_color_idx
        LEFT JOIN product_size ps ON pi.product_size_idx = ps.product_size_idx
        LEFT JOIN product_quantity pq ON pi.product_info_idx = pq.product_info_idx
        WHERE pi.product_idx = #{producIdx}
        GROUP BY pi.product_idx
    )
    SELECT 
        p.product_idx AS productIdx,
        p.name AS name,
        p.price AS price,
        p.manufacture_name AS manufactureName,
        sc.kor_name AS subCategory,
        c.kor_name AS category,
        inv.inventory AS inventory,
        TO_CHAR(inv.max_update_date, 'YYYY.MM.DD') AS updateDate
    FROM product p
    LEFT JOIN sub_category sc ON p.sub_category_idx = sc.sub_category_idx
    LEFT JOIN category c ON sc.category_idx = c.category_idx
    LEFT JOIN ProductInventory inv ON p.product_idx = inv.product_idx
    WHERE p.product_idx = #{productIdx}
</select>


<select id="getProductInfosByProductIdx" resultType="com.mf.dto.ProductInfoDto">
    SELECT 
        pi.product_info_idx,
        pi.product_color_idx,
        pi.product_size_idx,
        pi.product_idx,
        pc.color,
        ps.sizes,
        pq.quantity,
        TO_CHAR(pi.update_date, 'YYYY.MM.DD') AS updateDate
    FROM product_info pi
    LEFT JOIN product_color pc ON pi.product_color_idx = pc.product_color_idx
    LEFT JOIN product_size ps ON pi.product_size_idx = ps.product_size_idx
    LEFT JOIN product_quantity pq ON pi.product_info_idx = pq.product_info_idx
    WHERE pi.product_idx = #{productIdx}
</select>

<select id="getProductFilesByProductIdx" resultType="com.mf.dto.ProductFileDto">
    SELECT 
        pf.product_file_idx,
        pf.original_name,
        pf.file_path,
        pf.file_size,
        pf.product_info_idx
    FROM product_file pf
    JOIN product_info pi ON pf.product_info_idx = pi.product_info_idx
    WHERE pi.product_idx = #{productIdx}
</select>


<!-- storeIdx 조회 -->
<select id="getStoreIdxByUserIdx" resultType="long">
select store_idx
from store
where user_idx=#{userIdx}
</select>


<!-- 다중 색상,사이즈,재고 삽입 -->
<insert id="insertProduct" parameterType="com.mf.dto.ProductDto">
    <!-- 시퀀스 값을 미리 가져와서 productIdx에 설정 -->
    <selectKey keyProperty="productIdx" resultType="long" order="BEFORE">
        SELECT product_seq.NEXTVAL FROM DUAL
    </selectKey>
    INSERT INTO product (product_idx, name, price, manufacture_name, sub_category_idx, store_idx)
    VALUES (#{productIdx}, #{name}, #{price}, #{manufactureName}, #{subCategoryIdx}, #{storeIdx})
</insert>

<insert id="insertProductInfo" parameterType="com.mf.dto.ProductInfoDto">
    <selectKey keyProperty="productInfoIdx" resultType="long" order="BEFORE">
        SELECT product_info_seq.NEXTVAL FROM DUAL
    </selectKey>
    INSERT INTO product_info (product_info_idx, product_color_idx, product_size_idx, product_idx)
    VALUES (#{productInfoIdx}, #{productColorIdx}, #{productSizeIdx}, #{productIdx})
</insert>

<insert id="insertProductQuantity" parameterType="com.mf.dto.ProductQuantityDto">
    <selectKey keyProperty="productQuantityIdx" resultType="long" order="BEFORE">
        SELECT product_quantity_seq.NEXTVAL FROM DUAL
    </selectKey>
    INSERT INTO product_quantity (product_quantity_idx, product_info_idx, quantity, update_date)
    VALUES (#{productQuantityIdx}, #{productInfoIdx}, #{quantity}, SYSDATE)
</insert>

<!-- 파일 정보 삽입 -->
<insert id="insertProductFile" parameterType="com.mf.dto.ProductFileDto">
	<selectKey keyProperty="productFileIdx" resultType="long" order="BEFORE">
		SELECT product_file_seq.NEXTVAL FROM DUAL
	</selectKey>
	INSERT INTO product_file (product_file_idx, original_name, file_path, file_size, product_info_idx)
	VALUES (#{productFileIdx}, #{originalName}, #{filePath}, #{fileSize}, #{productInfoIdx})
</insert>


<!-- 수정 페이지에서 재고에 해당하는 부분 삭제 관련 쿼리문 -->

<update id="updateProduct" parameterType="com.mf.dto.ProductDto">
    UPDATE product
    SET name = #{name},
        price = #{price},
        manufacture_name = #{manufactureName},
        sub_category_idx = #{subCategoryIdx}
    WHERE product_idx = #{productIdx}
</update>

<update id="updateProductInfo" parameterType="com.mf.dto.ProductOptionDto">
    UPDATE product_info
    SET product_color_idx = #{colorIdx},
        product_size_idx = #{sizeIdx}
    WHERE product_info_idx = #{productInfoIdx}
</update>

<update id="updateProductQuantity" parameterType="com.mf.dto.ProductOptionDto">
    UPDATE product_quantity
    SET quantity = #{quantity}
    WHERE product_info_idx = #{productInfoIdx}
</update>

<!-- productInfo 삭제 -->
<delete id="deleteProductInfosByProductIdx" parameterType="long">
    DELETE FROM product_info WHERE product_idx = #{productIdx}
</delete>

<!-- productFile 삭제 -->
<delete id="deleteProductFilesByProductIdx" parameterType="long">
    DELETE FROM product_file WHERE product_info_idx IN (SELECT product_info_idx FROM product_info WHERE product_idx = #{productIdx})
</delete>




<!-- 새로운 Product ID를 가져옴 -->
<select id="getProductIdx" resultType="long">
    SELECT product_seq.CURRVAL FROM DUAL
</select>

<!-- 카테고리 목록 가져오기 -->
<select id="getCategory" resultType="com.mf.dto.CategoryDto">
SELECT category_idx AS categoryIdx, kor_name AS korName, eng_name AS engName
        FROM category
</select>


<select id="getCategoryList" resultType="com.mf.dto.CategoryDto">
    SELECT * FROM category
</select>


<select id="getSubCategoriesByCategoryCode" resultType="com.mf.dto.SubCategoryDto">
  select sc.*
  	from sub_category sc
  	join category c on sc.category_idx = c.category_idx
  	where c.kor_name = #{categoryCode}
</select>

<select id="getCategoriesByKeyword" resultType="com.mf.dto.CategoryDto">
  select * from category
 		where kor_name like '%' || #{keyword} || '%'
</select>


<!-- 특정 카테고리의 서브 카테고리 목록 가져오기 
<select id="getSubCategoryList" resultType="com.mf.dto.SubCategoryDto">
    SELECT * FROM sub_category WHERE category_idx = #{categoryIdx}
</select>
-->

<!-- 모든 색상 정보 가져오기 -->
<select id="getAllColors" resultType="com.mf.dto.ProductColorDto">
    SELECT product_color_idx AS productColorIdx, color FROM product_color
</select>

<!-- 모든 사이즈 정보 가져오기 -->
<select id="getAllSizes" resultType="com.mf.dto.ProductSizeDto">
    SELECT product_size_idx AS productSizeIdx, sizes FROM product_size
</select>



<!-- ============ Posting =============== -->
<!-- 판매글 삽입 -->
<insert id="insertPosting" parameterType="com.mf.dto.PostingDto">
	<selectKey keyProperty="postingIdx" resultType="long" order="AFTER">
	    SELECT posting_seq.CURRVAL FROM DUAL
	</selectKey>
	INSERT INTO posting (posting_idx, title, content, update_date, state, store_idx)
	VALUES (posting_seq.NEXTVAL, #{title}, #{content}, SYSDATE, #{state}, #{storeIdx})
</insert>



<!-- 판매글 제품 정보 삽입 -->
<insert id="insertPostingProduct" parameterType="com.mf.dto.PostingProductDto">
   INSERT INTO posting_product (posting_product_idx, posting_idx, product_info_idx)
   VALUES (posting_product_seq.NEXTVAL, #{postingIdx}, #{productInfoIdx})
</insert>



<select id="getProductDetailsByProductInfoIdx" parameterType="long" resultType="com.mf.dto.ProductDetailsDto">
        SELECT 
            p.name,
            p.price,
            p.manufacture_name AS manufactureName,
            sc.sub_category_idx,
            pc.color,
            ps.sizes AS sizes,
            c.kor_name AS category,
            sc.kor_name AS subCategory,
            pq.quantity,
            TO_CHAR(pi.update_date, 'YYYY.MM.DD') AS updateDate
        FROM product_info pi
        JOIN product p ON pi.product_idx = p.product_idx
        LEFT JOIN product_color pc ON pi.product_color_idx = pc.product_color_idx
        LEFT JOIN product_size ps ON pi.product_size_idx = ps.product_size_idx
        LEFT JOIN product_quantity pq ON pi.product_info_idx = pq.product_info_idx
        JOIN sub_category sc ON p.sub_category_idx = sc.sub_category_idx
        JOIN category c ON sc.category_idx = c.category_idx
        WHERE pi.product_info_idx = #{productInfoIdx}
    </select>



<!-- 특정 상품의 색상 목록 가져오기 -->
<select id="getProductColors" parameterType="long" resultType="string">
   SELECT color
   FROM product_color
   WHERE product_color_idx IN (
       SELECT product_color_idx
       FROM product_info
       WHERE product_idx = #{productInfoIdx}
   )
</select>

<!-- 특정 상품의 사이즈 목록 가져오기 -->
<select id="getProductSizes" parameterType="long" resultType="string">
   SELECT sizes
   FROM product_size
   WHERE product_size_idx IN (
       SELECT product_size_idx
       FROM product_info
       WHERE product_idx = #{productInfoIdx}
   )
</select>

<select id="getPostingProduct">
	SELECT posting.title,
				 product.price,
  			 category.eng_name,
  			 sub_category.eng_name,
      	 product_color.color,
    		 product_size.sizes,
      	 product_quantity.quantity,
    	   TO_CHAR(product_info.update_date, 'YYYY.MM.DD') AS updateDate
  FROM users
  			 JOIN store on users.user_idx = store.user_idx
  			 JOIN product on store.store_idx = product.store_idx
  			 JOIN sub_category on sub_category.sub_category_idx = product.sub_category_idx
  			 JOIN category on category.category_idx = sub_category.category_idx
  			 	JOIN product_info on product.product_idx = product_info.product_idx
  			 	JOIN product_quantity on product_info.product_info_idx = product_quantity.product_info_idx
  			 		JOIN product_color on product_info.product_color_idx = product_color.product_color_idx
  			 		JOIN product_size on product_info.product_size_idx = product_size.product_size_idx
  WHERE users.user_idx = #{userIdx} 

</select>




</mapper>