<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mf.mapper.SubCategoryMapper">
    <select id="getAllSubCategorys" parameterType="com.mf.dto.SubCategoryDto">
        SELECT SUB_CATEGORY_IDX,       
               KOR_NAME,
               ENG_NAME
           
        FROM   SUB_CATEGORY
        ORDER BY SUB_CATEGORY_IDX ASC
               
    </select>
    </mapper>